@addtaghelper "Microsoft.AspNet.Mvc.TagHelpers"

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Hello WROC# 2015 from a bare MVC controller</h1>
<div>
    <a asp-action="Index" asp-controller="Home">Home</a>
    <br />
    <a asp-action="Books">MVC Books</a>
    <br />
    <a href="/jBooks.html">REST Books</a>
</div>
</body>
</html>